.contact-form{
    background: rgb(223, 223, 223);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 1rem;
}

.contact-form .form{
    padding: 10%;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContact-np{
    border: none;
    padding: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}