
.card > img{
    border: 0px solid rgba(255, 255, 255, 0.5);
    transition: 200ms;
}

.card:hover > img{
    border: 4px solid rgb(255, 255, 255, 0.500);
    transition: 200ms;
}

.imagenProducto{
    width:25%;
}