<html>
	{{> head}}
	<body>
		{{> navigation}}
		<div class="container py-5 text-center" style="background-color: #d2c9ff; padding: 1%;">
			<h5>El producto ha sido borrado con éxito</h5>
			<a href="/" style="font-size: 1em;"><u>Volver a la página principal</u></a>
		</div>
		{{> footer_bootstrap}}
	</body>
</html>