<!-- Form general -->
<html>
    <center>
        <section id="form_section" class="contact-form" style="display: block;">
            <form method="post" id="form" class="form"> 
                <div id="form_content" class="col-md-6">
                    {{#storage}}
                    <!-- input -->
                    <div class="form-group py-1">
                        <input type="text">
                    </div>
                    {{/storage}}
                </div>
            </form>
        </section>
    </center>
    <script src="/src/formsService.js"></script>
</html>