<!-- Form general -->
<html>
    <center>
        <section id="form_section" class="contact-form" style="display: block;">
            <form method="post" id="form" class="form"> 
                <div id="form_content" class="col-md-6" >
                </div>
            </form>
        </section>
    </center>
</html>
<script src="/src/form.js"></script>