<!-- Head tag -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Solace Online Shop</title>
    <!-- Favicon-->
    <link type="text/css" rel="icon" type="image/x-icon" href="assets/logop.ico"/>
    <!-- Bootstrap icons-->
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href="/css/styles.css" rel="stylesheet"/>
</head>