<html>
	{{> head}}
	<body>
		{{> navigation}}
		<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">SOLACE</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Descuentos de hasta el 50%</p>
                </div>
            </div>
        </header>
		<!--Section principal: contiene los elementos contenidos en el almacén-->
        <section id="main_section" class="py-5">
            <!--DIV que contiene la lista de elementos-->
            <div class="container px-4 px-lg-5 mt-5">
                <div id="product_container" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
                    {{#storage}}
					<!--ELEMENTO-->
                    <div id="upper" class="col mb-5">
                        <a id="master" class="card h-100" href="post/{{id}}">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{image}}" alt="..." />
                            <!-- Product details-->
                            <div id="details" class="card-body p-4">
                                <div id="details_content" class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{name}}</h5>
                                    <!-- Product price-->
                                    <p>${{price}}.00</p>
                                </div>
                            </div>
                        </a>
                    </div>
					{{/storage}}	
                </div>
            </div>
			{{^storage}}
				<p>No products added yet.</p>
			{{/storage}}
            <div class="col-md-6 offset-md-3 justify-content-center">
                <div id="form_button" class="btnContact-np btn mb-5 bg-info">Añadir producto</div>
            </div>
        </section>
        {{> footer_bootstrap}}
	</body>
</html>