<!-- Product not found page -->
<div class="container py-5 text-center" style="background-color: #d2c9ff; padding: 1%;">
    <h5>No hay productos disponibles</h5>
    <a href="/" style="font-size: 1em;"><u>Volver a la página principal</u></a>
</div>